WEBSOCKET_PORT=3000

RABBITMQ_HOST=""

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD="your_redis_password"

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

RESEND_API_KEY="re_XXXXXXXXXXXXXXXXXXXXXX"
RESEND_EMAIL_FROM="Blibsend <no-reply@blibsend.click"